.logo {
  background: url('../images/logo-fixie.svg') center no-repeat;
  display: block;
  width: 112px;
  height: 38px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-size: contain;
}

.banner {
  &-bg {
    background: url('../images/img1.jpg') center no-repeat;
    background-size: cover;
    height: 860px;
  }
}

.gear {
  &-bg {
    background: url('../images/img2.jpg') center no-repeat;
    background-size: cover;
  }
}

.stripped {
  &-bg {
    background: url('../images/img3.jpg') center no-repeat;
    background-size: cover;
  }
}

.slogan {
  max-width: 600px;
  margin: 0 auto;
}

.jumbotron {
  &-bg {
    background: url('https://hexschool.github.io/webLayoutTraining1st/week7/img4.jpg')
      center no-repeat;
    background-size: cover;
    min-height: 640px;
    background-attachment: fixed;
  }
}
