@import '../../../node_modules/bootstrap/scss/functions';
@import './helpers/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/bootstrap';

@import './config/typography';
@import './config/utilities';
@import './config/aos';

@import './layout/custom';
