.btn {
  &-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.material-icons {
  align-items: center;
}

.font {
  &-merri {
    font-family: 'Merriweather', serif;
  }
  &-lota {
    font-family: 'Lato', sans-serif;
  }
}

.line-height {
  &-1 {
    line-height: 1;
  }
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}
